/* .form {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}




.button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: #45a049;
}



.formulario {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}


.contenedor {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */


.contenedor {
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-top: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 28, 61, 0.548);
}

.input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: #45a049;
}

.img {
    width: 200px;
    height: auto;

}